.bio {
  max-width: 560px;
  margin: 0 auto;
}

.masthead {
  max-height: 960px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
